@charset "UTF-8";

div.header_ads {
	margin-bottom: 15px;
	float: left
}

div.middle_ads {
	margin-bottom: 15px;
	float: left
}

div.footer_ads {
	margin-top: 15px;
	float: left
}

div.right_ads {
	margin-bottom: 20px;
	float: left
}

div#iad_left {
	width: 22%;
	text-align: center;
	float: left
}

div#ads_right {
	width: 22%;
	text-align: left;
	float: left
}